# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build/*
!build/404.html
dist
dist-ssr
*.local
coverage
.vite
.env*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/
**/node_modules/
node_modules/
**/node_modules/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Source maps
build/**/*.map
dist/**/*.map
